---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/global.css";

interface Props {
    title: string;
    description: string;
    image?: string;
    canonicalURL?: string;
}

// const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
    title,
    description,
    image = "/bouclier2png.png",
    canonicalURL = new URL(Astro.url.pathname, Astro.site),
} = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/png" href="/bouclier2png.png" />
<link rel="sitemap" href="/sitemap-index.xml" />
<meta name="generator" content={Astro.generator} />

<!-- Font preloads -->
<link
    rel="preload"
    href="/fonts/atkinson-regular.woff"
    as="font"
    type="font/woff"
    crossorigin
/>
<link
    rel="preload"
    href="/fonts/atkinson-bold.woff"
    as="font"
    type="font/woff"
    crossorigin
/>
<link
    rel="preload"
    href="/fonts/RotisSemiSerifStd.woff"
    as="font"
    type="font/woff"
    crossorigin
/>
<link
    rel="preload"
    href="/fonts/RotisSemiSerifStd-Bold.woff"
    as="font"
    type="font/woff"
    crossorigin
/>
<link
    rel="preload"
    href="/fonts/PoorRichardOpti.otf"
    as="font"
    type="font/opentype"
    crossorigin
/>
<link
    href="https://fonts.googleapis.com/css?family=Open Sans"
    rel="stylesheet"
/>

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />
<link rel="shortlink" href={canonicalURL} />
<!-- <link rel="canonical" href="https://example.com/dresses/green-dresses" /> -->

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta property="description" content={description} />
<meta
    name="keywords"
    content="Forum, Heritiers, Dumnacus, association, jeu de role, jeu, jeux, role, roles, rôle, rôles, angers, anjou, beaucouzé, trélazé, jeux de rôles, 
    jdr, ttrpg, jeu de rôle, club, association, centre ville, maine et loire, pays, JDR, Angers, jdr angers, JDR Angers, justices, Justices, 
    les justices, Les Justices, association loi 1901, association de jeux de roles, jeux de rôle, les heritiers de dumnacus, 
    Héritiers de Dumnacus, Les Héritiers de Dumnacus, les héritiers de dumnacus, Jeux de Role, associations loi 1901"
    lang="fr"
/>

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />
<meta content="Les Héritiers de Dumnacus" property="og:site_name" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />
