---
import "../styles/global.css";

interface Props {
  text: string;
  image: string;
  href: string;
  header: string;
  alt?: string;
}

const { text, image = "/bouclier2png.png", href, header, alt } = Astro.props;
---

<div class="mx-auto flex w-[30%] flex-col" id="wrapper">
  <a href={href}>
    <div class="flex h-[30%] items-center justify-center">
      <img src={image} class="w-[30%] object-contain" alt={alt} />
    </div>
  </a>
  <a href={href} class="mt-4 text-center text-3xl font-bold underline">{header}</a>
  <p class="mt-1 text-center text-base">{text}</p>
</div>

<style>
  @media screen and (max-width: 600px) {
    div {
      width: 50vw;
    }
    #wrapper {
      margin-bottom: 20px;
    }
    div > a > div {
      width: 100%;
      height: 100%;
    }
  }
  @media screen and (min-width: 600px) {
    div {
      width: 30%;
    }
    div > a > div {
      width: 100%;
      height: 100%;
    }
  }

  /* img {
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.4);
  } */
</style>
